<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
            <ul class="dropdown-menu"> 
                <li><%= link_to 'Me', dashboard_path %></li>
                <li><%= link_to 'Log out', logout_path, method: :delete %></li>
            </ul>
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Trip<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li> <%= link_to 'New trip', new_trip_path %></li>
                <% if creator?(nil, @trip) %>
                    <li><%= link_to 'Edit trip', edit_trip_path(@trip.url) %></li>
                <% end %>
                <% if !tripEnded?(@trip) %>
                    <li> <%= link_to 'Invite', invite_friend_path(@trip.url) %></li>
                <% end %>
            </ul>
        </li>
        <li><a href="#"class="dropdown-toggle" data-toggle="dropdown" >Discover<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><%= link_to 'Restaurants', find_food_path %></li>
                <li>Events</li>
                <li>Scenery</li>
                <li>Hotels</li>
            </ul>
        </li>
    </ul>
</nav>