<%= form_for(:trip, url: getPath('trips', @action)) do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Trip Name</span>
      <%= f.text_field :name, class: 'form-control'%>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2"> Where</span>
    <%= f.text_field :start_date, class: 'date-picker', placeholder: 'Start Date' %>
    -
    <%= f.text_field :end_date, class: 'date-picker', placeholder: 'End Date' %> 
    </div> 

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">City<br></span>
         <%= f.text_field :city , class: 'form-control'%>
    </div>
    
     <div class="input-group">
        <span class="input-group-addon" id="basic-addon4">Country</span>
        <%= f.text_field :country, class: 'form-control'%>
    </div>

    <p><%= f.submit "Submit", class: 'btn' %></p>

<% end %>
</div>
