<header> 
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
            <ul class="dropdown-menu"> 
                <li><%= link_to 'Me', dashboard_path %></li>
                <li><%= link_to 'Log out', logout_path, method: :delete %></li>
            </ul>
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Trip<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li> <%= link_to 'New trip', new_trip_path %></li>
                <li><%= link_to 'Edit trip', edit_trip_path(@trip.url) %></li>
                <li> <%= link_to 'Invite', new_user_trip_path(@trip.id) %></li>
            </ul>
        </li>
        <li><a href="#"class="dropdown-toggle" data-toggle="dropdown" >Discover<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>Restaurants</li>
                <li>Hotels</li>
            </ul>
        </li>
    </ul>
</nav>

</header>

<h1 class="page-header" >Edit Trip</h1>

<%= render 'shared/form_error' %>
<%= render 'trip_form' %> 

<div> <button class="btn">Back</button></div>

