<section>
<h1>Discover Restaurants in <%= @trip.city %></h1>

<%= link_to "Back", trip_path(@trip.url) %>

    <p>
    <%= form_tag find_food_path(@trip.url), method: "get" do %>
        <%= text_field_tag(:neighborhood, "", placeholder: "Neighborhood") %><br>
        <%= text_field_tag(:cuisine, "", placeholder: "Cuisine") %><br>
        <%= submit_tag "Search" %> 
    <% end %> 

    </p>

    <p>Sort results by:</p> 
    <%= form_tag find_food_path(@trip.url), method: "get" do %>  
        <%= radio_button_tag(:sort, 0) %>
        <%= label_tag(:relevance, "relevance") %>
        <%= radio_button_tag(:sort, 1) %>
        <%= label_tag(:distance, "distance") %>
        <%= radio_button_tag(:sort, 2) %>
        <%= label_tag(:rating, "rating") %>
        <%= submit_tag "Sort" %> 
    <% end %> 

    <p>Restaurants: <br>
    <% if !@yelp_error.nil? %>
        <%= @yelp_error %>
    <% else%> 
     
    <% @result.businesses.each do |b| %>
        <p>
        <figure style="width:200px"><%= image_tag(b.image_url, alt: "#{b.name}") %> </figure><br>
        <% if Idea.find_by_title(b.name) %>
            <strong>ADDED</strong><br/>
        <% else %>
            <%= button_to "Add to itinerary?", add_yelp_path(@trip.url, b.name, b.location.display_address), method: :post, data: {confirm: "Add to itinerary?"} %> 
        <% end %>

        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
        Rating: <%= b.rating %><br>

        <%= safe_join(b.location.display_address, '<br>'.html_safe) %><br>
        

        Neighborhood: <%#= safe_join(b.location.neighborhoods, ','.html_safe) %>   

        </p>
    <% end %> 
   
<% end %>
</p>
</section>