<%= render 'navbar' %>

<header> 
  <h1><%= "#{@trip.name}" %></h1>
  <%= render 'shared/flash_msg' %>
  <p> You are going to <strong><%= "#{@trip.city.capitalize}, #{@trip.country}" %></strong> 
  on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %></p>
  
  <div><%= trip_countdown %></div>
  
  <div>
    <%= headcount(@trip) %> going on this trip
    <% @trip.invites.each do |invite| %>
     
      <% if invite.going? && getUser(invite) != creator(@trip) %>
          <%= getUser(invite) %> | <%= link_to 'uninvite', uninvite_path(@trip.url, invite.user_tag), 
            method: :delete, data: {confirm: 'you sure?'} %>
      <% end %>

    <% end %> 
    </p>
  </div>
</header>

<div class="content" ng-app="trip">
  <div class="dashboard clearfix">
    <section class="trip--calendar">
        <div ng-controller="DateCtrl"  id="trip-data" start_date="<%= start_d %>" end_date="<%= end_d %>" tripURL="<%= @trip.url %>">
            <%= render 'date_panels' %>
        </div>
        <div class="calendar closed">
            <h2>Monthly Calendar</h2>
            <div ng-controller="CalendarCtrl">
                <%= render 'calendar' %> 
            </div>
        </div>
    </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <%= render 'ideas/ideas' %>

       <ol>
           <li> Todo
            <li> thinking of putting edit form on this page as well</li>
            <li> add admin user </li>
            <li> <s>see list of pending invites</s></li>
            </li>
       </ol>

       <div class="idea--form closed">
            <span class="idea--form_close">X close</span>  
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
    </aside>
  </div>
</div>
