<%= render 'navbar' %>

<header> 
  <h1><%= "#{@trip.name} Dashboard" %></h1>
  <%= render 'shared/flash_msg' %>
  <p> You are going to <strong><%= "#{@trip.city.capitalize}, #{@trip.country}" %></strong> 
  on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %></p>
  
  <div><%= trip_countdown %></div>

  <p>
  <% if current_user === creator(@trip) && !@pending.empty? %>
     <p>People invited:<br>
      <% @pending.each do |invite| %>
         <%= invite.email %> 
          | <%= link_to 'uninvite', uninvite_path(@trip.url, invite.user_tag), 
            method: :delete, data: {confirm: 'you sure?'} %><br>
        <% end %>
  <% else %>
    <%= link_to 'invite friends', invite_friend_path(@trip.url) %>
  <% end %>
  </p>

  <p>
  People on this trip: <br>
  <%= creator(@trip).name %> (Created the trip)<br> 
  <% @trip.invites.each do |invite| %>
    <% if invite.going? && getUser(invite) != creator(@trip) %>
        <%= getUser(invite).name %>
    <% end %>
    <p>
      <% if invite.maybe? %>
        <%= getUser(invite).name %> [maybe]
      <% end %>
    </p>
  </p>
  <% end %>
</header>

<div class="content clearfix" ng-app="trip">
    <section class="trip--calendar">
        <div ng-controller="DateCtrl"  id="trip-data" start_date="<%= start_d %>" end_date="<%= end_d %>" tripURL="<%= @trip.url %>">
            <%= render 'date_panels' %>
        </div>
        <div class="calendar closed">
            <h2>Monthly Calendar</h2>
            <div ng-controller="CalendarCtrl">
                <%= render 'calendar' %> 
            </div>
        </div>
    </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <h4>Itineary</h4>

        <%= render 'ideas/ideas' %>


       <button class="idea--form_action btn">Add + </button>

       <ol>
           <li> Changes
             <li> added idea data to slider--see comments in _date_panels.erb
             <li> navbar & list of ideas moved to their own partials (shared/_navbar.erb, ideas/_ideas.erb) for easier access & resuability</li>
             <li> yelp API stuff finally moved to its own page (find_food.erb)
           </li>
           <li> Todo
            <li> thinking of putting edit form on this page as well</li>
            <li> <s>see list of pending invites</s></li>
            </li>
       </ol>

       <div class="idea--form closed">
            <span class="idea--form_close">X close</span>  
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
    </aside>
</div>
