<h1><%= "#{@trip.name} Dashboard" %></h1>
<%= link_to 'new trip', new_trip_path %> | <%= link_to 'edit trip', edit_trip_url_path(url: @trip.url) %> | <%= link_to 'add people to this trip', new_trip_user_path(@trip.id) %>

<p>
    Going to <strong><%= "#{@trip.city} #{@trip.state_or_province} #{@trip.country}" %></strong> from <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %>
</p>

<p>People on this trip:</p>
<ul>
    <% @users.each do |user| %>
        <li> 
            <%= user.name %> 
            <%= user.email %> 
            <%= link_to 'remove', trip_user_path(@trip.id, user.id), method: :delete, data: {confirm: 'You sure?'} %>
        </li>
    <% end %>
</ul>

<p>
<%= form_tag trip_url_path(@trip.url), method: "get" do %>
    <%= text_field_tag(:neighborhood, "", placeholder: "Neighborhood") %>
    <%= submit_tag "Search" %> 
<% end %> 

</p>
   
<p>Restaurants: <br>
    <% if !@yelp_error.nil? %>
        <%= @yelp_error %>
    <% else%> 
    <% @result.businesses.each do |b| %>
        <p>
        <%= image_tag(b.image_url, alt: "#{b.name}") %> <br>
        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
            <%= safe_join(b.location.display_address, '<br>'.html_safe) %>
        </p>
    <% end %> 
    <em><%= link_to "See more", yelp_results_path(url: @trip.url) %></em>
<% end %>
</p>

<a href="javascript:history.back()"><< Back</a>
