<%= render 'navbar' %>
<%= render 'header' %>

<div class="content" ng-app="trip">
  <div class="dashboard clearfix">

    <section class="trip--calendar">
        <div ng-controller="DateCtrl"  id="trip-data" start_date="<%= start_d %>" end_date="<%= end_d %>" tripURL="<%= @trip.url %>">
            <%= render 'date_panels' %>
        </div>
        <div class="calendar closed">
            <h2>Monthly Calendar</h2>
            <div ng-controller="CalendarCtrl">
                <%= render 'calendar' %> 
            </div>
        </div>

      <div ng-controller="CurrencyCtrl">
        <h2>Exchange Rates</h2>
          <%= text_field_tag "base_amt", '1', size: 5, ng_model: "base_amt" %>
          <%= select_tag "base_currency", options_for_select(getCurrency), ng_model: "base_currency" %> to
          <%= select_tag "new_currency", options_for_select(getCurrency), ng_model: "new_currency" %>

          <%= submit_tag "Convert", class: 'btn', ng_click: "convert(base_amt, base_currency, new_currency)" %>
        <p>
        <span ng-bind="base_amt"></span> 
        <span ng-bind="base_currency"></span>
        <span style="margin-left: 20px">{{ new_amt }}</span>
        <span ng-bind="new_currency"></span>
        </p>
    </div>

    <div ng-controller="TimezoneCtrl">
        <h2>Timezone</h2>
        Time where you are: <%= format_time(Time.now) %><br/>
        Time elsewhere: {{ timezone }}<br/>
        Select timezone: 
          <%= select_tag :timezone, options_for_select(timezones), ng_model: "zone_name" %>
          <%= submit_tag "Select", ng_click: "getTime(zone_name)" %>

      </div>

    </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <%= render 'ideas/ideas' %>

       <ol>
           <li> <strong>Todo/ideas</strong>
            <li> Add instagram pics to the 'Discover' tab</li>
            <li> Add idea form & form doesn't close anymore?</li>
            <li> Decide how to let users know they can edit ideas on this page by clicking on them --> maybe highlight text & show an edit icon or even just the word 'edit' on mouseover? </li>
            <li> Maybe have a link/button/tab in the trip header to direct users back to the trip dash instead of having individual links on each page?</li>
            <li> Get email to work in production [for trip invites to unregistered users].</li>
            </li>
          <li> <strong>Changes</strong>    
            <li> Added foursquare API [views/ideas/find_events.erb]
           </li>
           <li> Moved trip header to its own partial [views/trips/_header.erb] for ease of reuse/editing</li>
          </li>
       </ol>

       <div class="idea--form closed">
          <button type="button" class="btn btn-default close-btn">
            <span class="form_close glyphicon glyphicon-remove"></span>
          </button>  
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
    </aside>

  </div>
</div>