<%= render 'navbar' %>

<header> 
  <h1><%= "#{@trip.name}" %></h1>
  <%= render 'shared/flash_msg' %>
  <p> You are going to <strong><%= "#{@trip.city.capitalize}, #{@trip.country}" %></strong> 
  on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %></p>
  
  <div><%= trip_countdown %></div>
  
  <div>People on this trip:
    <p><%= User.find(@trip.creator).name %> (Organizer)
  <!--BUG: creator/self shouldn't be listed twice -->
  <!--IDEA was thining of counting the users on trips, and display the users if prompted. I was thinking this because the list can get too big with more people. What do you think -->
    <% @trip.invites.each do |invite| %>
     
      <% if invite.going? %>
          <%= User.find(invite.user_id).name %> | <%= link_to 'uninvite', uninvite_path(@trip.url, invite.user_tag), 
            method: :delete, data: {confirm: 'you sure?'} %>
      <% end %>
      
      <!--IDEA: I don't know if we need to show other users if its a maybe. what do you think? -->
      <% if invite.maybe? %>
       <%= User.find(invite.user_id).name %> [maybe]
      <% end %>
    <% end %>
    </p>
  </div>
</header>

<div class="content" ng-app="trip">
  <div class="dashboard clearfix">
    <section class="trip--calendar">
        <div ng-controller="DateCtrl"  id="trip-data" start_date="<%= start_d %>" end_date="<%= end_d %>">
            <%= render 'date_panels' %>
        </div>
        <div class="calendar closed">
            <h2>Monthly Calendar</h2>
            <div ng-controller="CalendarCtrl">
                <%= render 'calendar' %> 
            </div>
        </div>
    </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <%= render 'ideas/ideas' %>

       <ol>
           <li> Todo
            <li> thinking of putting edit form on this page as well</li>
            <li> see list of pending invites</li>
            </li>
       </ol>

       <div class="idea--form closed">
          <button type="button" class="btn btn-default">
            <span class="form_close glyphicon glyphicon-remove"></span>
          </button>  
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
    </aside>
  </div>
</div>
