<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
            <ul class="dropdown-menu"> 
                <li><%= link_to 'Me', dashboard_path %></li>
                <li><%= link_to 'Log out', logout_path, method: :delete %></li>
            </ul>
        <li>
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Trip<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li> <%= link_to 'New trip', new_trip_path %></li>
                <li><%= link_to 'Edit trip', edit_trip_path(@trip.url) %></li>
                <li> <%= link_to 'Invite', new_user_trip_path(@trip.id) %></li>
            </ul>
        </li>
        <li><a href="#"class="dropdown-toggle" data-toggle="dropdown" >Discover<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>Restaurants</li>
                <li>Hotels</li>
            </ul>
        </li>
    </ul>
</nav>
<header> 
    <h1><%= "#{@trip.name} Dashboard" %></h1>
    <p> You are going to <strong><%= "#{@trip.city}, #{@trip.country}" %></strong> on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %></p>
    <div><%= trip_countdown %> to go</div>
</header>
<div class="content clearfix" ng-app="trip">
    <section class="trip--calendar">
      
    <div id="calendar-dates" start_date="<%= start_d %>" end_date="<%= end_d %>">
        <h2>Slider</h2>
        <div ng-controller="DateCtrl">
            <%= render 'date_panels' %>
        </div>
        <h2>Monthly Calendar</h2>
        <div ng-controller="CalendarCtrl">
            <%= render 'calendar' %> 
        </div>
    </div>
            </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <p>People on this trip:</p>
        <ul>
        </ul>
        <h4>Calendar</h4>
                         
        <div class="trip--fav_action" role="group" aria-label="...">
        <ul  class="nav nav-pills">
            <li ng-class="{'active':tab.isSet(1)}">
                <a href ng-click="tab.setTab(1)">Food</a></li>
            <li ng-class="{'active':tab.isSet(2)}">
                <a href ng-click="tab.setTab(2)">Activities</a></li>
            <li ng-class="{'active':tab.isSet(3)}">
                <a href ng-click="tab.setTab(3)">Events</a></li>
        </ul>
        </div>
        <div class="trip--list">
           
        <ul class="list-group" ng-show="tab.isSet(1)">  
            <% if @food.ideas.empty? === false %>             
                <% @food.ideas.each do |idea| %>
                    <li class="list-group-item">
                        <%= "#{idea.title} on #{format_date(idea.start_date)}" %>
                    <%= link_to 'details', idea_path(@trip.url, idea.id) %> 
                    <%= link_to "edit", edit_idea_path(@trip.url, idea.id) %> 
                    <%= link_to "delete", [current_user,@trip, idea], method: :delete, data: {confirm: "You sure?"} %>
                    </li>
                <% end %>
            <% else %>
                <li>Nothing planned. Add your idea</li>
            <% end %>
        </ul>

        <ul class="list-group" ng-show="tab.isSet(2)">
            <% if @activity.ideas.empty? === false %>
                <% @activity.ideas.each do |idea| %>
                    <li class="list-group-item">
                        <%= "#{idea.title} on #{format_date(idea.start_date)}" %>
                    <%= link_to 'details', idea_path(@trip.url, idea.id) %> 
                    <%= link_to "edit", edit_idea_path(@trip.url, idea.id) %> 
                    <%= link_to "delete", [current_user,@trip, idea], method: :delete, data: {confirm: "You sure?"} %>
                    </li>
                <% end %>
            <% else %>
                <li>Nothing planned. Add your idea</li>
            <% end %>
        </ul>
                 
        <ul class="list-group" ng-show="tab.isSet(3)">
            <% if @event.ideas.empty? === false %>
                 <% @event.ideas.each do |idea| %>
                    <li class="list-group-item">
                        <%= "#{idea.title} on #{format_date(idea.start_date)}" %>
                    <%= link_to 'details', idea_path(@trip.url, idea.id) %> 
                    <%= link_to "edit", edit_idea_path(@trip.url, idea.id) %> 
                    <%= link_to "delete", [current_user,@trip, idea], method: :delete, data: {confirm: "You sure?"} %>
                    </li>
                <% end %>
            <% else %>
                <li>Nothing planned. Add your idea</li>
           <% end %>
       </ul>
           
       </div>

       <button class="btn">Add + </button>
       <div>
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
        <%#= button_to "Add +", new_idea_path(@trip.url), method: 'get', class: 'btn' %> 
    </aside>
</div>

<section>
    <p>
    <%= form_tag trip_path(@trip.url), method: "get" do %>
        <%= text_field_tag(:neighborhood, "", placeholder: "Neighborhood") %><br>
        <%= text_field_tag(:cuisine, "", placeholder: "Cuisine") %><br>
        <%= submit_tag "Search" %> 
    <% end %> 

    </p>

    <p>Sort results by:</p> 
    <%= form_tag trip_path(@trip.url), method: "get" do %>  
        <%= radio_button_tag(:sort, 0) %>
        <%= label_tag(:relevance, "relevance") %>
        <%= radio_button_tag(:sort, 1) %>
        <%= label_tag(:distance, "distance") %>
        <%= radio_button_tag(:sort, 2) %>
        <%= label_tag(:rating, "rating") %>
        <%= submit_tag "Sort" %> 
    <% end %> 

    <p>Restaurants: <br>
    <% if !@yelp_error.nil? %>
        <%= @yelp_error %>
    <% else%> 
     
    <% @result.businesses.each do |b| %>
        <p>
        <figure style="width:200px"><%= image_tag(b.image_url, alt: "#{b.name}") %> </figure><br>
        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
        Rating: <%= b.rating %><br>


        <%= safe_join(b.location.display_address, '<br>'.html_safe) %><br>
        

        Neighborhood: <%#= safe_join(b.location.neighborhoods, ','.html_safe) %>   

        </p>
    <% end %> 
   
<% end %>
</p>
</section>
