<header> 
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="#"class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
                <ul class="dropdown-menu"> 

                    <li><%= link_to 'Me', dashboard_path %></li>
                    <li><%= link_to 'Log out', logout_path, method: :delete %></li>
                </ul>
            <li>
                <a href="#"class="dropdown-toggle" data-toggle="dropdown">Trip<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li> <%= link_to 'New trip', new_trip_path %></li>
                    <li><%= link_to 'Edit trip', edit_trip_path(@trip.url) %></li>
                    <li> <%= link_to 'Invite', new_user_trip_path(@trip.id) %></li>
                </ul>
            </li>
            <li><a href="#"class="dropdown-toggle" data-toggle="dropdown" >Discover<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>Restaurants</li>
                    <li>Hotels</li>
                </ul>
            </li>
        </ul>
    </nav>
<h1 class="page-header"><%= "#{@trip.name} Dashboard" %></h1>
</header>
<div class="content cf">
    <section class="trip--calendar">
        <div>
            You are going to <strong><%= "#{@trip.city} #{@trip.state_or_province} #{@trip.country}" %></strong> on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %>
        </div>
        <p>People on this trip:</p>
        <ul>

        </ul>
        <div ng-app="Calendar" ng-controller="CalendarCtrl">
            <%= render 'calendar' %> 
        </div>
    </section>
    <aside class="trip--fav">
        <h4> Suggested Ideas</h4>
        <div class="btn-group trip--fav_action" role="group" aria-label="...">
          <button type="button" data-type="food" class="btn btn-default active">Food</button>
          <button type="button" data-type="attrac" class="btn btn-default">Attractions</button>
          <button type="button" data-type="events" class="btn btn-default">Events</button>
        </div>
        <div class="trip--list">
            <ul class="list-group" data-type="food">
                <li class="list-group-item">Hot pot on Sept 10, 2015</li>
                <li class="list-group-item">dim sum on Sept 10, 2015</li>
                <li class="list-group-item">Opera on Sept 10, 2015</li>
            </ul>
            <ul class="list-group closed" data-type="attrac">
                 <li class="list-group-item">Opera on Sept 10, 2015</li>
            </ul>
            <ul class="list-group closed" data-type="events">
                <li class="list-group-item">Movies on Sept 10, 2015</li>
            </ul>
        </div>
        <button type="button" class="btn">Add +</button>
    </aside>
</div>

<section>
    <p>
    <%= form_tag trip_path(@trip.url), method: "get" do %>
        <%= text_field_tag(:neighborhood, "", placeholder: "Neighborhood") %><br>
        <%= text_field_tag(:cuisine, "", placeholder: "Cuisine") %><br>
        <%= submit_tag "Search" %> 
    <% end %> 

    </p>

    <p>Sort results by:</p> 
    <%= form_tag trip_path(@trip.url), method: "get" do %>  
        <%= radio_button_tag(:sort, 0) %>
        <%= label_tag(:relevance, "relevance") %>
        <%= radio_button_tag(:sort, 1) %>
        <%= label_tag(:distance, "distance") %>
        <%= radio_button_tag(:sort, 2) %>
        <%= label_tag(:rating, "rating") %>
        <%= submit_tag "Sort" %> 
    <% end %> 

    <p>Restaurants: <br>
    <% if !@yelp_error.nil? %>
        <%= @yelp_error %>
    <% else%> 
     
    <% @result.businesses.each do |b| %>
        <p>
        <%= image_tag(b.image_url, alt: "#{b.name}") %> <br>
        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
        Rating: <%= b.rating %><br>


        <%= safe_join(b.location.display_address, '<br>'.html_safe) %><br>
        
        Neighborhood: <%#= safe_join(b.location.neighborhoods, ','.html_safe) %>   

        </p>
    <% end %> 
   
<% end %>
</p>
</section>
