<h1><%= "#{@trip.name} Dashboard" %></h1>
<%= link_to 'new trip', new_trip_path %> | <%= link_to 'edit trip', edit_trip_path(@trip) %> | add people to this trip

<p>
    Going to <strong><%= "#{@trip.city} #{@trip.state_or_province} #{@trip.country}" %></strong> from <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %>
</p>

<p>People on this trip:</p>
<ul>
    <% @users.each do |user| %>
        <li> 
            <%= user.name %> 
            <%= user.email %> 
            <%= link_to 'remove', user, method: :delete, data: {confirm: 'You sure?'} %>
        </li>
    <% end %>
</ul>

<p>
    What are you looking for? <br>
    [ Search form here ]
</p>
   
<p>Restaurants: <br>
    <% @result.businesses.each do |b| %>
        <p>
        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
            <%= safe_join(b.location.display_address, '<br>'.html_safe) %>
        </p>
    <% end %> 
    <em><%= link_to "See more", yelp_results_path(@trip) %></em>
</p>

<a href="javascript:history.back()"><< Back</a>
