<header> 
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a>Account</a></li>
        <li> <%= link_to 'new trip', new_trip_path %></li>
        <li><%= link_to 'edit trip', edit_trip_url_path(url: @trip.url) %></li>
        <li> <%= link_to 'invite', new_trip_user_path(@trip.id) %></li>
    </ul>
</nav>
<!-- <a href="javascript:history.back()"><< Back</a> -->
<h1><%= "#{@trip.name}" %></h1>


<div>
    You are going to <strong><%= "#{@trip.city} #{@trip.state_or_province} #{@trip.country}" %></strong> on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %>
</div>

<p>People on this trip:</p>
<ul>
    <% @users.each do |user| %>
        <li> 
            <%= user.name %> -
            <%= user.email %> 
            <%= link_to 'remove', trip_user_path(@trip.id, user.id), method: :delete, data: {confirm: 'You sure?'} %>
        </li>
    <% end %>
</ul>
</header>
<section class="api-dashboard">
    <div>API</div>
    <div>API</div>
    <div>API</div>
    <div>API</div>
</section>

<section>
    <p>
    <%= form_tag trip_url_path(@trip.url), method: "get" do %>
        <%= text_field_tag(:neighborhood, "", placeholder: "Neighborhood") %><br>
        <%= text_field_tag(:cuisine, "", placeholder: "Cuisine") %><br>
        <%= submit_tag "Search" %> 
    <% end %> 

    </p>

    <p>Sort results by:</p> 
    <%= form_tag trip_url_path(@trip.url), method: "get" do %>  
        <%= radio_button_tag(:sort, 0) %>
        <%= label_tag(:relevance, "relevance") %>
        <%= radio_button_tag(:sort, 1) %>
        <%= label_tag(:distance, "distance") %>
        <%= radio_button_tag(:sort, 2) %>
        <%= label_tag(:rating, "rating") %>
        <%= submit_tag "Sort" %> 
    <% end %> 

    <p>Restaurants: <br>
    <% if !@yelp_error.nil? %>
        <%= @yelp_error %>
    <% else%> 
     
    <% @result.businesses.each do |b| %>
        <p>
        <%= image_tag(b.image_url, alt: "#{b.name}") %> <br>
        <strong><%= b.name %></strong> [ <%= b.is_closed ? "CLOSED" : "OPEN" %> ]<br>
        Rating: <%= b.rating %><br>


        <%= safe_join(b.location.display_address, '<br>'.html_safe) %><br>
        Neighborhood: <%#= safe_join(b.location.neighborhoods, ','.html_safe) %>

        </p>
    <% end %> 
   
<% end %>
</p>
</section>
