<%= render 'navbar' %>

<header> 
  <h1><%= "#{@trip.name} Dashboard" %></h1>
  <%= render 'shared/flash_msg' %>
  <p> You are going to <strong><%= "#{@trip.city.capitalize}, #{@trip.country}" %></strong> 
  on <%= "#{format_date(@trip.start_date)} to #{format_date(@trip.end_date)}" %></p>
  
  <div><%= trip_countdown %></div>
  <% if current_user.id === @trip.creator && @trip.invites.length > 1 %>
     <p>People invited:<br>
    <% @trip.invites.each do |invite| %>
      <% if !invite.rsvped? %>
       <%= invite.email %> 
        | <%= link_to 'uninvite', uninvite_path(@trip.url, invite.user_tag), 
          method: :delete, data: {confirm: 'you sure?'} %><br>
        <% end %>
      <% end %>
  <% end %>
  </p>
  
  <p>People on this trip: <br>
  <%= User.find(@trip.creator).name %> (Created the trip)<br> 
  <% @trip.invites.each do |invite| %>
    <% if invite.going? %>
        <%= User.find(invite.user_id).name %>
    <% end %>

    <p>
      <% if invite.maybe? %>
        <%= User.find(invite.user_id).name %> [maybe]
      <% end %>
    </p>
  </p>
  <% end %>
</header>

<div class="content clearfix" ng-app="trip">
    <section class="trip--calendar">
        <div ng-controller="DateCtrl"  id="trip-data" start_date="<%= start_d %>" end_date="<%= end_d %>">
            <%= render 'date_panels' %>
        </div>
        <div class="calendar closed">
            <h2>Monthly Calendar</h2>
            <div ng-controller="CalendarCtrl">
                <%= render 'calendar' %> 
            </div>
        </div>
    </section>
    <aside class="trip--fav" ng-controller="TabController as tab">
        <h4>Itineary</h4>

        <%= render 'ideas/ideas' %>


       <button class="idea--form_action btn">Add + </button>

       <ol>
           <li> Changes
             <li> navbar & list of ideas moved to their own partials (shared/_navbar.erb, ideas/_ideas.erb) for easier access & resuability</li>
             <li> yelp API stuff finally moved to its own page (find_food.erb)
           </li>
           <li> Todo
            <li> thinking of putting edit form on this page as well</li>
            <li> see list of pending invites</li>
            </li>
       </ol>

       <div class="idea--form closed">
            <span class="idea--form_close">X close</span>  
           <%= render 'shared/form_error' %>
           <%= render 'ideas/idea_form' %>
       </div>
    </aside>
</div>
