<%= form_for(:idea) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= label_tag(:title, "What") %><br>
    <%= f.text_field :title, class: 'form-control' %> <br>

    <%= label_tag(:idea_category_id, "Category") %>
    <%= f.collection_select :idea_category_id, IdeaCategory.all, :id, :name, class: 'dropdown-toggle' %>
    <br>
    <label>When</label> <br>
    <input class="date-picker" placeholder="Start Date"> </input>
    <input class="time-picker" placeholder="Time"></input>
    <%= date_select :idea, :start_date, default: @trip.start_date %>
    <%= time_select :idea, :start_time %><br>
    To <br>
    <input class="date-picker" placeholder="End Date"> </input>
    <input class="time-picker" placeholder="Time"></input>
    <%= date_select :idea, :end_date, default: @trip.end_date %>
    <%= time_select :idea, :end_time %><br>      

    <%= f.label "Where" %><br>
    <%= f.text_field :location, class: 'form-control' %>

    <%= f.label 'Details' %> <br>
    <%= f.text_area :notes, rows: 3, class: 'form-control' %>

    <%= f.submit "Submit", class: 'btn' %>
<% end %>
    

