


 <%= form_for(:idea) do |f| %>
        <div class="input-group">
            <%= label_tag(:title, "Idea") %><br>
            <%= f.text_field :title, class: 'form_control' %>
        </div>

        <div class="dropdown">
        <%= f.label :category %><br>
        <%= f.select :category, [["Food", "food"], ["Attractions", "attraction"], ["Events", "event"], ["Activity", "activity"]], class: 'dropdown-toggle' %><br>

        <%= f.label :start_date %><br>
        <%= date_select :idea, :start_date, default: @trip.start_date %><br>

        <%= f.label :end_date %><br>
        <%= date_select :idea, :end_date, default: @trip.end_date %><br>

        <div class="input-group">
            <%= f.label :start_time %><br>
            <%= time_select :idea, :start_time %><br> 
        </div>

        <div class="input-group">
            <%= f.label :end_time %><br>
            <%= time_select :idea, :end_time %><br>
        </div>

        <div class="input-group">
            <%= f.label :end_time %><br>
        </div>  

    <div class="input-group">
        <%= f.label :location %><br>
        <%= f.text_field :location, class: 'form-control' %>
    </div>

    <div class="input-group">
        <%= f.label :notes %> <br>
        <%= f.text_area :notes, rows: 3, class: 'form-control' %>
    </div>

    <P><%= f.submit "Submit", class: 'btn' %></p>
<% end %>
    

