 <div class="list-group-item">
    <h4 class="list-group-item-heading">
        <%= best_in_place idea, :title, as: :input, url: edit_idea_path(@trip.url, idea.id) %>
    </h4>

    <% if current_user === idea_user(idea) || current_user === creator(@trip) %>
        <%= link_to "delete", delete_idea_path(@trip.url, idea.id), method: :delete, data: {confirm: "You sure?"}, class: "badge btn-green"  %>
        <%= link_to "edit", edit_idea_path(@trip.url, idea.id), class: "badge btn-green" %>
        <p class="list-group-item-text">
    <% end %>


    When: <%= best_in_place idea, :start_date, as: :date, url: edit_idea_path(@trip.url, idea.id) %> 
          -  <%= best_in_place idea, :end_date, as: :date, url: edit_idea_path(@trip.url, idea.id) %><br>

    Where: <%= best_in_place idea, :location, as: :input, url: edit_idea_path(@trip.url, idea.id) %> <br>
    Suggested by: <%= idea_user(idea).name %></p>

    <p><div ng-bind="ideaTitle"></div></p>    
</div>
