
<%= form_for(which_user, url: getPath('users', @action)) do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><%= f.label :name %></span>
      <%= f.text_field :name, class: 'form-control'%>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2"><%= f.label :email %></span>
      <%= f.text_field :email, class: 'form-control'%>
    </div>
    
    <% if @action === 'new' || @action === 'create' %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3"><%= f.label :password %></span>
          <%= f.password_field :password, class: 'form-control'%>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4"> <%= f.label :password_confirmation %></span>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <p><%= f.submit "Sign up" , class: 'btn' %></p>
    <% else %>
        <p><%= f.submit "Update info" , class: 'btn' %></p>
    <% end %>
<% end %> 

<p>
    <% if @action === 'edit' || @action === 'update' %>
       <h2>Change Password</h2>

        <%= form_for(getUser, url: getPath('users', @action)) do |f| %>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= f.label :password %></span>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon6"> <%= f.label :password_confirmation %></span>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <p><%= f.submit "Change Password" , class: 'btn' %></p>
    <% end %>

    <p>
        <%= button_to "Delete account", current_user, method: :delete, data: {confirm: "You sure?"}, class: 'btn-danger' %>
    <% end %>
    </p>
</p>
