<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
</nav>
<%= render 'shared/flash_msg' %>
<div class="user-profile content clearfix">
	<aside>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Trips", dashboard_path %></li>
			<li class="list-group-item">Past Trips</li>
      <li class="list-group-item"><%= link_to "Account info", account_path %></li>
		</ul>
	</aside>
  
  <section>
  	<h1>Account Information</h1>
  	<%= render 'shared/form_error' %>

    <%= render 'user_form' %>
  </section>
