<h1>Login</h1>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
        <%= value %> 
    </div>
<% end %>

<%= form_tag "/login" do %> 
    <%= text_field_tag(:email, "", placeholder: "Email") %><br>
    <%= password_field_tag(:password, "", placeholder: "Password") %>

    <p><%= submit_tag "Login" %></p>


<% end %> 

<p><%= link_to 'forgot your password?', password_reset_path %></p> 
