<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
</nav>

<%= render 'shared/flash_msg' %>

<div class="user-profile clearfix">
	<aside>
		<ul class="list-group"o>
			<li class="list-group-item"><%= link_to "Trips", dashboard_path %></li>
			<li class="list-group-item">Past Trips</li>
            <li class="list-group-item"><%= link_to "Account info", account_path %></li>
            <li class="list-group-item"><%= link_to "Trip invites", invites_path %></li>
		</ul>
	</aside>

    <section class="content">
        <div class="list-group user_trips">
            <div class="list-group-item clearfix">
            <% if @current_user.invites %>
            <% @current_user.invites.each do |invite| %> 
                    <% if !invite.rsvped? %>
                    <h2>Pending Invites</h2>
                       <p>
                       <h3><%= getTrip(invite).name %></h3>
                       <%= getSender(invite).name %> invites you</p>
                       <%= render partial: 'trips/rsvp', locals: {invite: invite} %>
                    <% end %>
                <% end %>
            <% end %>
            </div>

            <% @trips.each do |trip| %>
                <% if creator?(nil,trip) && !tripEnded?(trip) %>
                    <div class="list-group-item clearfix">
                        <figure><a href="<%= trip_path(trip.url) %>"><img src="http://loremflickr.com/320/240"/></a></figure>
                    <h2><%= link_to "#{trip.name}", trip_path(trip.url) %> </h2>
                    <p><%= "#{format_date(trip.start_date)} to #{format_date(trip.end_date)}" %> </p>
                    <p><%= "#{trip.city},#{trip.country} " %> </p>
                    <div><%= link_to 'invite people', invite_friend_path(trip.url) %> | 
                    <%= headcount(trip) %> going |
                        <%= link_to 'edit', edit_trip_path(trip.url) %> | 
                        <%= link_to 'delete', delete_trip_path(trip.url), method: :delete, data: {confirm: 'You sure?'} %></div>
                    <span class="trip-status"><%= getRSVP( getInvite(trip) ) %></span>
                  </div>
              <% end %>
            <% end %>
        </div>
            <p><%= link_to 'Add trip', new_trip_path %> </p>

        <div class="list-group">
            
            <h2>Past Trips [feel free to move or do some JS/CSS magic on this section :)]</h2>
            <% @trips.each do |trip| %>
                <% if tripEnded?(trip) && getInvite(trip).going? %> 

                    <div class="list-group-item clearfix">
                        <h2><%= link_to "#{trip.name}", trip_path(trip.url) %> </h2>
                        <p><%= "#{format_date(trip.start_date)} to #{format_date(trip.end_date)}" %> </p>
                        <p><%= "#{trip.city},#{trip.country} " %> </p>
                        <%= headcount(trip) %> went
                    </div>

                <% end %> 
            <% end %> 

       </div>

        <div class="list-group">
            
            <h2>Upcoming Trips</h2>
            <% @current_user.invites.each do |invite| %>
                <% if !tripEnded?(getTrip(invite)) && !creator?(invite) && (invite.going? || invite.maybe?) %>
                    <h3><%= link_to getTrip(invite).name, trip_path(getTrip(invite).url) %></h3> <br/>
                    <%= render partial: 'trips/rsvp', locals: {invite: invite} %>
                    <%= headcount( getTrip(invite) ) %> going
                     <p>
                        <%= "#{format_date( getTrip(invite).start_date )} to #{format_date( getTrip(invite).end_date )}" %>
                    </p>
                    <p><%= "#{getTrip(invite).city},#{getTrip(invite).country} " %> </p>
                <% end %>
            <% end %>
       </div>
	</section>

    <div style="outline:1px solid black; position:absolute; bottom:0; right: 0;margin-bottom: 150px;width: 300px"><strong>TO DO</strong>
        <ol>
            <li> Fix trip creation form - datepicker buried underneath other text fields</li>
            <li> maybe move login page to the landing page? Thoughts?</li>
            <li> <strong>CHANGES</strong>
                <li>inline styles in 'trips/_rsvp.erb' to highlight change--feel free to change/remove</li>
                <li> manage invites page added 'group_trips/invites.erb'</li>
            </li>
        </ol>
    </div>
</div>