<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
</nav>

<%= render 'shared/flash_msg' %>

<div class="user-profile clearfix">
    <%= render 'nav' %>

    <section class="content">
        <div class="list-group user_trips">
            <div class="list-group-item clearfix">
            <% if @pending %>
                <% @pending.each do |invite| %> 
                    <h2>Pending Invites</h2>
                       <p>
                       <h3><%= getTrip(invite).name %></h3>
                       <%= getSender(invite).name %> invites you</p>
                       <%= render partial: 'trips/rsvp', locals: {invite: invite} %>
                    <% end %>
            <% else %>
                No pending invites
            <% end %>
            </div>

            <% @created_trips.each do |trip| %>
                <% if creator?(nil,trip) %>
                    <div class="list-group-item clearfix">
                        <figure><a href="<%= trip_path(trip.url) %>"><img src="http://loremflickr.com/320/240"/></a></figure>
                    <h2><%= link_to "#{trip.name}", trip_path(trip.url) %> </h2>
                    <p><%= "#{format_date(trip.start_date)} to #{format_date(trip.end_date)}" %> </p>
                    <p><%= "#{trip.city},#{trip.country} " %> </p>
                    <div><%= link_to 'invite people', invite_friend_path(trip.url) %> | 
                    <%= headcount(trip) %> going |
                        <%= link_to 'edit', edit_trip_path(trip.url) %> | 

                        <%= link_to 'delete', delete_trip_path(trip.url), method: :delete, data: {confirm: 'You sure?'} %></div>
                    <span class="trip-status"><%= getRSVP( getInvite(trip) ) %></span>
                  </div>
              <% end %>
            <% end %>

            <% @invited_trips.each do |invite| %>
                <% if !tripEnded?(getTrip(invite)) && !creator?(invite) %>
                    <div class="list-group-item clearfix">
                        <figure><a href="<%= trip_path(getTrip(invite).url) %>"><img src="http://loremflickr.com/320/240"/></a></figure>
                        <h2><%= link_to getTrip(invite).name, trip_path(getTrip(invite).url) %></h2>
                         <p>
                            <%= "#{format_date( getTrip(invite).start_date )} to #{format_date( getTrip(invite).end_date )}" %>
                        </p>
                        <p><%= "#{getTrip(invite).city},#{getTrip(invite).country} " %> </p>
                        <p><%= headcount( getTrip(invite) ) %> going </p>
                        <span class="trip-status"><%= render partial: 'trips/rsvp', locals: {invite: invite} %></span>
                </div>
                <% end %>
            <% end %>
        </div>
            <p><%= link_to 'Add trip', new_trip_path %> </p>
            <%= render 'trips/trip_form' %>

	</section>

    <div style="outline:1px solid black; position:absolute; bottom:0; right: 0;width: 300px"><strong>TO DO</strong>
        <ol>
            <li> Turn trip creation form into a popup</li> 
            <li><strong>CHANGES</strong>
                <li> User login & signup forms moved to landing page [views/home_pages/home.erb]</li>
                <li> Loops refactored in user dash, past trips, manage invites, and trip dash</li>
            </li>
        </ol>
    </div>
</div>