<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
</nav>

<%= render 'shared/flash_msg' %>
<div class="user-profile clearfix">
	<aside>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Trips", dashboard_path %></li>
			<li class="list-group-item">Past Trips</li>
            <li class="list-group-item"><%= link_to "Account info", account_path %></li>
            <li class="list-group-item"><%= link_to "Trip invites", invites_path %></li>
		</ul>
	</aside>
    <section class="content">
        <div class="list-group user_trips">
            <div class="list-group-item clearfix">
            <% if @current_user.invites %>
            <% @current_user.invites.each do |invite| %> 
                    <% if !invite.rsvped? %>
                    <h3>Pending trips</h3>
                       <p>
                       <%= getTrip(invite).name %><br/> 
                       <%= getSender(invite).name %> invites you</p>
                       <%= render partial: 'trips/rsvp', locals: {invite: invite} %>
                    <% end %>
                <% end %>
            <% end %>
            </div>

            <% @trips.each do |trip| %>
                <% if current_user.id === trip.creator %>
                    <div class="list-group-item clearfix">
                        <figure><a href="<%= trip_path(trip.url) %>"><img src="http://loremflickr.com/320/240"/></a></figure>
                    <h2><%= link_to "#{trip.name}", trip_path(trip.url) %> </h2>
                    <p><%= "#{format_date(trip.start_date)} to #{format_date(trip.end_date)}" %> </p>
                    <p><%= "#{trip.city},#{trip.country} " %> </p>
                    <div><%= link_to 'invite people', invite_friend_path(trip.url) %> | 
                    <%= headcount(trip) %> going |
                        <%= link_to 'edit', edit_trip_path(trip.url) %> | 
                        <%= link_to 'delete', [current_user, trip], method: :delete, data: {confirm: 'You sure?'} %></div>
                    <span class="trip-status">Pending</span>
                  </div>
              <% end %>
            <% end %>
        </div>
            <p><%= link_to 'Add trip', new_trip_path %> </p>
        <div class="list-group">
            
            <h2>Pending Trips</h2>
            <% @current_user.invites.each do |invite| %>
                <% if getTrip(invite).creator != current_user.id && invite.going? || invite.maybe? %>
                    <%= link_to getTrip(invite).name, trip_path(getTrip(invite).url) %> <br>
                    Change RSVP: <%= render partial: 'trips/rsvp', locals: {invite: invite} %>
                <% end %>
            <% end %>
       </div>
	</section>

</div>
<div style="outline:1px solid black; position:absolute; bottom:0; right: 0;"> TO DO
<ol>
	
</ol>
</div>