<% if !@errors.nil? %>
    <%= pluralize(@errors.count, "error") %> found
    <%= @errors.full_messages.each do |msg| %>
        <ul>
            <li> <%= msg %></li>
        </ul>
    <% end %>
<% end%>

<%= form_for([@user, @trip]) do |f| %>
    <%= label_tag(:name, "Trip name") %><br>
    <%= f.text_field :name %><br>

    <%= f.label :start_date %><br>
    <%= date_select :trip, :start_date, default: 1.day.from_now %><br>

    <%= f.label :end_date %><br>
    <%= date_select :trip, :end_date, default: 2.days.from_now %><br>

    <%= f.label :city %><br>
    <%= f.text_field :city %><br>

    <%= f.label :state_or_province %><br>
    <%= f.text_field :state_or_province %><br>

    <%= f.label :country %><br>
    <%= f.text_field :country %><br>

   
    <p><%= f.submit "Submit" %></p>

<% end %>
