<div class="front">
	<div><h1>Where are you going?</h1></div>
	<% if current_user %>    
    Logged in as <%= link_to current_user.name, dashboard_path %> | <%= link_to 'Log out', logout_path, method: :delete %>
<% else %> 
    <%= link_to 'Sign up', signup_path %> | <%= link_to 'Log in', login_path %> 
<% end %> 

<%= render 'shared/flash_msg' %>

<%= render 'users/login' %> 

[ Sign up form ]
<%= render 'users/user_form' %>



	<p>About | Contact</p>

</div>
