<h1>Pending Invites</h1>

<p>
<% @trips.each do |trip| %>
	<% if trip.invites.length > 1 %>
		<h2><%= trip.name %></h2>
			
		<% trip.invites.each do |invite| %>
			<% if !invite.rsvped?%>
				<h3><%= getUser(invite).name %></h3>
				invite sent <%= invite_date(trip) %> by <%= getSender(invite).name %>

				<% if current_user == creator(trip) %>
					<br/><%= link_to 'uninvite', uninvite_path(trip.url, getUser(invite).tag) %>
				<% else %>
					<%= render partial: 'trips/rsvp', locals: {invite: invite} %>
				<% end %>

			<% end %>
		<% end %>
	<% end %>
<% end %>
</p>

<%= link_to "Back", dashboard_path %>