<h1>Manage Your Invites</h1>

<% @trips.each do |trip| %>
	<p>
		<h2><%= trip.name %></h2>
		<% if trip.invites %>
			<% trip.invites.each do |invite| %>
				<% if current_user != creator(trip) %>
					<%= getUser(invite).name %><br/>
					invite sent <%= invite_date(trip) %> by <%= User.find(invite.sender) %>
					<%= link_to 'uninvite', uninvite_path(trip.url, getUser(invite).tag) %>
				<% end %>
			<% end %>
		<% end %>
	</p>
<% end %>